@font-face {
    font-family: 'BrunoAce';
    src: url('../fonts/brunoace-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caladea';
    src: url('../fonts/Caladea-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Caladea';
    src: url('../fonts/Caladea-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Bevan';
    src: url('../fonts/Bevan-Regular.ttf');
    font-weight: normal;
    font-style: italic;
}
