// fonts
$main-font: 'BrunoAce';

// colors
$main-color: #ffffff;
$active-color: rgba(219, 175, 61, 0.8);
$hero-color: rgb(51, 102, 46);
$better-color: rgb(207, 48, 48);
$caller-color: rgb(30, 73, 212);

// background color
$main-bg-color: rgba(15, 14 , 14, 0.72);
$secondary-bg-color: #2f3134;
$table-bg-color: #C2A563;

// border color
$border-color: #918252;

$mobile: 320px;
$mobile-middle: 480px;
$max-mobile: 767px;
$tablet: 768px;
$max-tablet: 1279px;
$desktop: 1280px;

$animation-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
