.title {
    margin: 5px 0 10px;
    font-size: 16px;
    text-align: center;
}

input {
    -webkit-appearance: none;
    display: block;
    width: 280px;
    margin: 0 auto;
    border: 0;
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin-top: -6px;
  border-radius: 50%;
  background: #fff;
}

input[type=range]::-webkit-slider-runnable-track { 
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #fff;
 }

 .datalist {
  display: none;
 }

 .stackSize {
    composes: title;
    margin-top: 10px;
    margin-bottom: 15px;
 }