@import '../../assets/scss/utils/variables';

.container {
    // max-width: $mobile-middle;
    padding: 0 8px;

    @media (min-width: $mobile-middle) {
    padding: 0 20px;
  }
}

.itemsWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

// animate Table
.visible {
  animation: visibleTable .5s forwards;
}

.hidden {
  animation: visibleTable .5s reverse;
}

@keyframes visibleTable {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%);
  }
}